.image-slide{
    height:100%;
    width:100%;
    transition: background-image .3s ease-in-out;
}

.slide-arrow{
    color:blue;
    cursor:pointer;
    font-size:2rem;
    position:fixed;
    top:50%;
}

.carousel{
    height:300px;
    width:100%;
    margin:0;
}